

.testclass {
    background: url("../images/Frame32.png")  50% 100px no-repeat fixed;
    background-size: cover;
    max-width: 100%;
    height:600px
}

.testclass {
    background: url("../images/Frame32.png")  50% 100px no-repeat fixed;
    background-size: cover;
    width: 100%;
    height:600px
}

// .testclass {
//     background: url("../images/Frame32.png")  50% 100px no-repeat;
//     max-width: 100%;
//     background-size: 100% 100%;
// }